.social-burger {
	display: flex;
	flex-wrap: wrap;
	row-gap: 10px;
	margin-top: auto;
	@include tablet {
		display: none;
	}

	&__link {
		@include font(12px, 500, 1.2, 0.02em);

		color: #757575;
		text-decoration: none;
	}
}

.social-burger__item {
	&:not(:last-child) {
		margin-right: 10px;
		padding-right: 10px;
		border-right: 1px solid $color-modal-border;
	}
}
