h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primery-text-color);
  background-color: var(--primery-background-color);
  @include font(14px, 700, 1.7, 0.03em);
}
